@charset "utf-8";
/* CSS Document */

body {
    overflow: auto;
    word-break: break-all;
    scrollbar-base-color: #D2D2D2;
    font-size: 12px;
    font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
}

fieldset {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid gray;

}

fieldset legend {
    padding: 3px 20px 3px 20px;
    border: 1px solid gray;
    margin-left: 15px;
}

table, tr, td {
    word-break: break-all;
    font-size: 12px;
    font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
}

A:LINK {
    color: blue
}

A:VISITED {
    color: blue;
    TEXT-DECORATION: none;
}

A:HOVER {
    color: blue
}

.imageSelectPictureView {
    position: absolute;
    z-index: 9999;
    padding: 1px;
    border: 1px #ccc solid;
    font-size: 12px;
    display: none;
    background-color: #FFFFFF;
}

.imageSelectPictureViewTitle {
    position: relative;
    height: 23px;
    background-color: #E4E4E4;
    font-size: 12px;
    padding: 0;
    padding-left: 5px;
    line-height: 23px;
    margin: 0;
    width: 100%;
}

#imageSelectPictureViewInfo {
    overflow: auto;
    width: 400px;
    height: 300px;
}