<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jaxws="http://cxf.apache.org/jaxws"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://cxf.apache.org/jaxws
        http://cxf.apache.org/schemas/jaxws.xsd">


    <!--方法1：使用JaxWsProxyFactoryBean Start-->
    <!--<bean id="factoryBean" class="org.apache.cxf.jaxws.JaxWsProxyFactoryBean">
        <property name="serviceClass" value="demo.ws.soap_cxf.HelloService"/>
        <property name="address" value="http://localhost:8080/ws/soap/hello"/>
    </bean>

    <bean id="helloService" factory-bean="factoryBean" factory-method="create"/>-->
    <!--方法1：使用JaxWsProxyFactoryBean End-->

    <!--方法2：使用jaxws:client （推荐） Start-->
    <jaxws:client id="helloService" serviceClass="demo.ws.soap_cxf.HelloService"
                  address="http://localhost:8080/ws/soap/hello"/>
    <!--方法2：使用jaxws:client （推荐） End-->
</beans>