
.public-article-page-first, .public-article-page-second {
    margin-bottom: 30px;
}
.public-article-page-first>ul>li, .public-article-page-second>ul>li {
    float: left;
    margin-right: 15px;
    list-style: none;
    text-align: center;
}
.public-article-page-first>ul>li>a, .public-article-page-second>ul>li>a {
    text-decoration: none;
    color: #272727;
    display: inline-block;
    height: 25px;
    width: 25px;
    background-color: #f7f8f9;
    font: 12px/25px "Microsoft YaHei";
    border: 1px solid #d4d9e7;
}
.public-article-page-first>span, .public-article-page-second>span {
    margin-left: 30px;
}
.public-article-page-first>span>label, .public-article-page-second>span>label {
    font: 500 12px "Microsoft YaHei";
}
.public-article-page-first>span>input[type="text"], .public-article-page-second>span>input[type="text"] {
    width: 40px;
    outline: none;
    text-align: center;
    padding: 0px 2px;
}
.public-article-page-first>span>input[type="button"], .public-article-page-second>span>input[type="button"] {
    outline: none;
    background-color: #f7f8f9;
    border: 1px solid #cfd5e4;
}

.che-right-body{
    border: 15px solid #f0f4f7;
}

.active>a {
    background-color: #a0b0d8 !important;
    color: #FFFFFF !important;
}

.che-right-body>div{
    width: 100%;
    height:375px;
    font-size: 0;
} 
.che-right-body>div>div{
    display: inline-block;
    height: 100%;
    width: 50%;
}
#body-active-layer{
    position: absolute;
    top: 0;
    width: 100%;
    height: 0;
    background-color: rgba(60,68,105,.9);
    z-index: 99;
    overflow: auto;   
    -webkit-border-radius: 10px;
              border-radius: 10px;  
}  
#body-active-layer>h5{
    color: #FFF;
    font: 16px "Microsoft Yahei";
    padding: 0 10px 10px 10px;     
    border-bottom:1px solid #8d8e91;
    margin-left: 10px;
} 
#body-active-layer>h5>span{
    font-size: 20px;  
     color: #449bf1; 
}
#body-active-layer>p{
    color: #FFF;
    font: 12px "Microsoft Yahei";
    width: 75%;
    position: relative;
    padding-left: 10px;
    cursor: pointer;
}   
#body-active-layer>p>span{
   position: absolute;
   right: -30%;
}
.che-right-body-first{
    border-bottom: 15px solid #f0f4f7;
}
.body-first-one{
    border-right: 15px solid #f0f4f7;
}
.body-second-one{
    border-right:15px solid #f0f4f7;
}
.che-right-body>div>div>h5{
    font:14px "Microsoft YaHei";
    margin-left:30px;
    position: relative;
}
.che-right-body>div>div>h5::before{
    content: "";
    position: absolute;
    height: 13px;
    width: 4px;
    background-color: #000;
    left: -10px;
    top: 4px;
} 
.che-right-body>div>div>span{
    display: inline-block;
    height: 310px;
    width:100%;
    font:12px "Microsoft YaHei";
}
.body-first-one,.body-first-two,.body-second-one,.body-second-two,.body-third-one,.body-third-two{
    position: relative;
    font:12px "Microsoft YaHei";
}
/* .che-right-h3-kind>li:nth-child(1)>a{
    border-radius: 5px 0 0 5px;
} */  
.body-first-one>ul>li{
    position: absolute;
    list-style: none;
    color: #868686;
}
.body-first-one>ul>li>i{
    position: absolute;
    color: #e6e6e6;
}
.body-first-one>ul>li>a{
    text-decoration: none;
    color: #868686;
}
.body-first-one>ul>li:nth-child(1)>i{
    left: -63px;
    top:0;
}
.body-first-one>ul>li:nth-child(1){
    right: 0;
    top: 69px;
}
.body-first-one>ul>li:nth-child(2){
    left: 24px;
    top: 120px;
}
.body-first-one>ul>li:nth-child(2)>i{
    right: -88px;
}
.body-first-one>ul>li:nth-child(3){
    right: 52px;
    top: 165px;
}
.body-first-one>ul>li:nth-child(3)>i{
    left: -88px;
}
.body-first-one>ul>li:nth-child(4){
    left: 47px;
    top: 210px;
}
.body-first-one>ul>li:nth-child(4)>i{
    right: -88px;
}
.body-first-one>ul>li:nth-child(5){
    right: 76px;
    top: 258px;
}
.body-first-one>ul>li:nth-child(5)>i{
    left: -88px;
}
.body-first-one>ul>li:nth-child(6){
    left: 90px;
    top: 306px;
}
.body-first-one>ul>li:nth-child(6)>i{
    right: -88px;
}
.che-left-ul>li:nth-child(1)>span {
    -webkit-filter: grayscale(0);
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -ms-filter: grayscale(0);
    -o-filter: grayscale(0);
    filter: grayscale(0);
    filter: gray;
}

.che-left-ul-li:nth-child(1)>a{
    color: #36c;
}
.che-right-body-second{
    border-bottom: 15px solid #f0f4f7;
}

.body-third-one{
    border-right: 15px solid #FFFFFF;
}
.body-third-two-span>table{
    width:90%;
    text-align: center;
    margin: auto;
}  
.body-third-two-span>table tr{
    border-bottom: 1px solid #f3f5f9;
    height: 27px;
}
.body-third-two-span>table tr:last-child{
    border: 0;
}
.body-third-two-span>table tr td,.body-third-two-span>table tr th{
    text-align: center;
}
.body-third-two-span>table tr th{
    font:600 12px "Microsoft Yahei";
} 
.body-third-two-span>table tr td{
    font: 12px "Microsoft Yahei";
}       
.custom>li{
    display: inline-block;
    vertical-align: middle;
}
.custom{
    font: 12px/30px "Microsoft YaHei";
    color: #676767;
    display: none;
} 


.no-data>span>font{
    color:#333;
}
h5>span{
    float: right;
    cursor: pointer;
    margin-right:20px;
    color: #c9c9c9;
} 
#body-active-layer>p>a{
	color: #fff;
}

#body-active-layer>p>a:link { 
	color: #fff;
text-decoration: none; 
} 
#body-active-layer>p>a:visited { 
	color: #fff;
	text-decoration: none; 
} 
#body-active-layer>p>a:hover { 
	color: #fff; 
	text-decoration: underline; 
} 