.che-left-ul {
    margin-top: 20px;
}

.header-right-trumpet-title > h4 {
    width: 518px;
    height: 30px; 
    margin: 0;
    border-bottom: 2px solid #ced6de;
    -webkit-border-radius: 6px;
    border-radius: 10px/10px;
    background-color: #e0e7fa;
}

.header-right-trumpet-title > h4 > a {
    font: 14px/30px '微软雅黑';
    float: left;
    margin-left: 20px;
    text-decoration: none;
    color: #676767;
}

.header-right-trumpet-title > h4 > img {
    float: right;
    margin-top: 3px;
    margin-right: 20px;
}

.header-right-trumpet-title > p > span:hover {
    cursor: pointer;
}

.header-right-trumpet-title > p:hover {
    background-color: #e0e7fa;
}
   
.header-right-trumpet-content > .header-right-trumpet-content-notice {
    display: block;
    height: 30px;
    border-bottom: 2px solid #ced6de;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: #e0e7fa;
}

.header-right-trumpet-content > span > h4 {
    font: 14px/30px '微软雅黑';
    display: inline-block;
    float: left;
    margin: 0 20px;
    color: #676767;
}

.header-right-trumpet-content > span > img {
    float: right;
    margin: 3px 20px 0 0;
}

.header-right-feedback-span > h4 {
    font: 14px/33px 'Microsoft Yahei';
    margin: 0;
    padding-left: 20px;
    text-align: left;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    background-color: #e0e7fa;
}

.header-right-trumpet:hover,
.header-right-feedback:hover {
    cursor: pointer;
}

.header-right-feedback-span > h4 > img {
    float: right;
    margin: 5px 20px;
}

.header-right-feedback-span-button {
    height: 25px;
    width: 90px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #8a9ed0;
    border: 0;
    font: 12px "Microsoft Yahei";
    color: #FFF;
    position: absolute;
    left: 50%;
    bottom: -30px;
    margin-left: -45px;
}

#formParam ul > li > a:hover {
    color: #36c;
}

.rightBody,
.rightBody-HD {
    border: 14px solid #f0f4f7;
}

.no-data {
    position: relative;
    height: 100%;
    text-align: center;
    overflow: hidden;
}

.no-data>span {
    font-size: 17px;
    color: #637297;
}

.no-data>span>font {
    color: #333;
}

#paging {
    list-style: none;
    display: inline-block;
    float: right;
    padding-right: 20px;
}

.paging-div {
    list-style: none;
    display: inline-block;
    float: right;
    padding-right: 69px;
}
  
#paging>li {
    float: left;
}

#paging>li>a {
    font: 12px/25px "Microsoft Yahei";
    text-decoration: none;
    display: inline-block;
    width: 26px;
    height: 26px;
    background-color: #f7f8f9;
    border: 1px solid #cfd5e4;
    margin-right: 15px;
    text-align: center;
    padding: 0;
}

#paging>li:first-child>a,
#paging>li:last-child>a {
   /* padding-top: 0px;*/
}

#paging>.active>a {
    color: #FFF;
    background-color: #a0b0d8;
}

.PageDiv>span {
    font: 14px "Microsoft Yahei";
    margin-left: 30px;
    position: absolute;
    right: 0;
    top: 0;
    display: none;
}

.PageDiv>span>input {
    width: 55px;
    height: 25px;
    text-align: center;
    outline: none;
}

.PageDiv>span>a {
    text-decoration: none;
    color: #949494;
    margin-left: 10px;
    height: 25px;
    width: 25px;
    border: 1px solid #cfd5e4;
    padding: 2px;
    background-color: #f7f8f9;
}

.PageDiv {
    position: relative;
    /*margin-right: 50px;*/
   margin-top: -5px;
}

.loding {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 999;
}

.loding>img {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -27px;
    width: 30px;
}

.layui-layer .layui-layer-btn {
    text-align: center;
}

.layui-layer-btn>.layui-layer-btn0 {
    font: 12px/28px "Microsoft Yahei";
}

.laydate_box,
.laydate_box * {
    box-sizing: content-box;
}

.addFontColor {
    color: #36c;
}

.hover-h5>span:hover,
.rightBody>.rightBody-big>h5>span:hover,
.rightBody>.rightBody-small>div>h5>span:hover{
    color: #36c !important;
}

.bigCarWCloud {
    width: 50%;
    height: 70%;
    margin: auto;
    margin-top: 20px;
    overflow-y: hidden;
}

.smallCarWCloud {
    width: 85%;
    height: 85%;
    margin: auto;
    margin-top: 10px;
} 
.image-page{
    width: 270px;
    height: 280px;
    padding: 20px;
    text-align: left;
    display: inline-block;
    vertical-align: top;
}

.image-page>a>img{
	width: 250px;
	 height: 200px;
}
a,a:hover {
	cursor: pointer;
	text-decoration:none;
}
.float-right{
	float: right;
}
.float-right-a{
	float: right;
    background: #9e9e9e;
    z-index: 99;
    margin-top: 20px;
    width: 27px;
    padding: 5px;
    color: white !important;
    margin-right: 15px;
}
.float-right-div{
	padding: 10px;
	z-index: 99;
    float: left;
   /* margin-top: 20px;*/
    background-color: white;
    height: 500px;
    width:330px;
    overflow-y: auto;
    display: none;
    font: 14px "Microsoft Yahei";
    background: #fff;
    box-shadow: 1px 2px 1px 1px rgba(0,0,0,.15);
}
.float-right-div span{
	font: 12px "Microsoft Yahei";
}
.float-right-div a{
	color:black !important;
}
.a-active{
	background: #337ab7 !important;
}
.div-hover:hover{
	background-color: #eee;
}
.a-change-color{
	color: #030621 !important;
}
.tishi {
    display: inline-block;
}
.tishi>img {
    cursor: pointer;
    margin: 0 10px;
}