.rightBody-small,
.rightBody-big {
    width: 100%;
    height: 340px;
    border-bottom: 14px solid #f0f4f7;
    font-size: 0;
}
.rightBody-big-map{
	height: 500px !important;
}
.rightBody-big-span{
	height: 440px !important;
}
.rightBody-big-map{
	width: 100%;
    height: 500px;
    border-bottom: 14px solid #f0f4f7;
    font-size: 0;
}

.rightBody-small>div {
    width: 50%;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}
.rightBody-small>div>h5>select{
	float:right;
	margin-right: 10px;
	font: 12px "Microsoft YaHei";
}

.rightBody-small>div:first-child {
    border-right: 14px solid #f0f4f7;
}

.rightBody>.rightBody-big>h5,
.rightBody>.rightBody-small>div>h5 {
    font: 14px "Microsoft YaHei";
    margin-left: 31px;
    position: relative;
}

.rightBody>.rightBody-big>h5>span,
.rightBody>.rightBody-small>div>h5>span {
    float: right;
    cursor: pointer;
    margin-right: 20px;
    color: #c9c9c9;
}

.rightBody>.rightBody-big>h5::before,
.rightBody>.rightBody-small>div>h5::before {
    content: '';
    height: 13px;
    width: 4px;
    background-color: #000;
    position: absolute;
    left: -15px;
    top: 3px;
}

.rightBody-small>div>span {
    display: inline-block;
    width: 100%;
    height: 280px;
    font: 12px "Microsoft Yahei";
}

.rightBody-big>span {
    height: 280px;
    width: 100%;
    display: inline-block;
    font: 12px "Microsoft Yahei";
}

.rightBody-article>h5 {
    display: inline-block;
}

.rightBody-article>menu,
.rightBody-article>ul {
    display: inline-block;
    list-style: none;
    vertical-align: top;
    padding-left: 0;
    border: 1px solid #d2d7de;
    margin-left: 25px;
    margin-top: 7px;
}

.rightBody-article>menu>li,
.rightBody-article>ul>li {
    font: 12px/25px "Microsoft YaHei";
    float: left;
    height: 25px;
    width: 60px;
    text-align: center;
    cursor: pointer;
}

.article-Active {
    background-color: #f2f7fc;
    color: #3366CC;
}

.rightBody-article>ul {
    border: 0;
    margin-bottom: 0;
}

.rightBody-article>ul>li {
    border: 1px solid #d2d7de;
    margin-right: 10px;
    color: #79899b;
}

.rightBody-article>ul>li>span {
    display: inline-block;
}

.borderline {
    border: 0;
}

#JQpage,
#JQpage-HD {
    float: right;
}

#JQpage>li,
#JQpage-HD>li {
    border: 0;
    width: 30px;
}

#JQpage>li>a,
#JQpage-HD>li>a {
    text-decoration: none;
    font: 18px "Microsoft YaHei";
    color: #b5bec8;
}

.rightBody-article>span {
    margin-top: 20px;
    padding-left: 20px;
}

.rightBody-article>span>p {
    position: relative;
    padding-right: 130px;
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 7px;
}

.rightBody-article>span>p>a {
    font: 12px/20px "Microsoft YaHei";
    text-decoration: none;
    color: #272727;
}

.rightBody-article>span>p>a:hover {
    color: #3366CC;
}

.rightBody-article>span>p>i {
    position: absolute;
    right: 16px;
    top: 0;
    font: 12px "Microsoft Yahei";
}

.custom>li {
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.custom {
    font: 12px/30px "Microsoft YaHei";
    color: #676767;
    display: none;
}
 


.rightBody-article>ul>li:first-child {
    color: #36c;
}

.pubilcTable>table {
    width: 90%;
    margin: 0 auto;
    border: 1px solid #e8e8e8;
}

.pubilcTable>table tr {
    border-bottom: 1px solid #e8e8e8;
}

.pubilcTable>table tr>th {
    background-color: #f5f8fb;
    text-align: center;
    font: 14px/30px "Microsoft Yahei";
}

.pubilcTable>table tr>td {
    text-align: center;
    font: 12px/20px "Microsoft Yahei";
}

.pubilcTable>table tr:hover>td {
    background-color: #e6f1fd;
}

.rightBody-switchover {
    position: relative;
}

.rightBody-switchover>menu {
    list-style: none;
    position: absolute;
    left: 20px;
    top: 90px;
    z-index: 99;
    padding: 0;
}
    
.rightBody-switchover>menu>li {
    margin-right: 15px;
    height: 18px;
    width: 80px;
    position: relative;
    margin-bottom: 10px;
}

.rightBody-switchover>menu>li>a {
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: #a4b2d6;
    color: #fff;
    font: 12px/18px "Microsoft Yahei";
    text-align: center;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
}

.rightBody-switchover>menu>li>img {
    position: absolute;
    right: -4px;
    top: 4px;
    display: none;
}

.rightBody-switchover>menu>li:hover {
    background-color: #b5bed5;
}

.rightBody-switchover>menu>.activeImg>a {
   background-color: #36c;
}
.activeImg>img{
    display: inline-block !important;
}
.publicTable {
    width: 97%;
    margin: 0 auto;
    margin-top: 20px;
}

.publicTable tr {
    border-bottom: 1px solid #e8e8e8;
}

.publicTable tr:first-child {
    border: 1px solid #e8e8e8;
    background-color: #f5f8fb;
}

.publicTable tr>th {
    font: 600 12px/40px "Microsoft Yahei";
    text-align: center;
}

.publicTable tr>td {
    font: 12px/30px "Microsoft Yahei";
    text-align: center;
}

.publicTable tr:hover td {
    background-color: #f3f9ff;
}

.articleTop {
    width: 90%;
    margin: 0 auto;
    position: relative;
}

.articleTop>h5 {
    font: 14px "Microsoft Yahei";
    text-align: center;
    color: #36c;
    border-bottom: 1px solid #f0f4f7;
    padding-bottom: 20px;
}

.articleTop>menu {
    position: absolute;
    right: 40px;
    top: -2px;
    cursor: pointer;
}

.articleTop>menu>li {
    float: left;
    list-style: none;
    height: 25px;
    padding: 0 10px;
    text-align: center;
    font: 12px/25px "Microsoft Yahei";
    background-color: #f0f4f7;
    margin-left: 5px;
}

.articleTop>span {
    position: absolute;
    right: 10px;
    top: 15px;
    cursor: pointer;
}

.articleMenu {
    border-bottom: 1px solid #f0f4f7;
    width: 90%;
    margin: 0 auto;
    padding: 5px 15px 15px 15px;
}

.articleMenu>li {
    list-style: none;
    float: left;
    font: 12px "Microsoft Yahei";
    margin-right: 20px;
}

.articleMain {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 25px;
}

.articleMain>h5 {
    font: 14px "Microsoft Yahei";
    margin-bottom: 20px;
}

.articleMain>p {
    font: 12px/25px "Microsoft Yahei";
    text-indent: 2em;
    color: #272727;
}

.rightBody {
    min-height: 500px; 
    padding-right:0px;
}
.rightBody-div {
    min-height: 450px;
    padding-right:20px;
    /*display: inline-block;*/
}

#intactH5 {
    display: block;
}
  
.laydate_box,
.laydate_box * {
    box-sizing: content-box;
}
