@charset "utf-8";
@media (max-width: 1360px) {
    html,
    body {
        width: 1360px;
    }
    .che-right {
        width: 1360px;
    }
}

select,
textarea,
input {
    outline: none;
}

.header {
    height: 52px;
    background-color: #3e4e79;
    width: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
    min-width: 1160px;
}

.header-por {
    position: relative;
}

.header-logo {
    display: inline-block;
    width: 180px;
    /* height: 16px; */
    margin-top: 12px;
    font: 18px '微软雅黑';
    font-weight: bold;
    color: white;
    margin-top: 14px;
    /*background: url('../../images/huishu_logo.png') no-repeat;*/
}

.header-logo-autohome {
    display: inline-block;
    width: 120px;
    height: 32px;
    margin-top: 12px;
    background: url('../../images/logo_autohome.png') no-repeat;
}

.header-title-width {
    height: 50px;
}

.header-ul {
    height: 52px;
    margin: 0;
    padding-left: 20px;
    list-style: none;
}

.header-ul li {
    float: left;
    width: 115px;
    height: 100%;
    text-align: center;
    margin-left: 20px;
}

.header-ul li a {
    font: 14px '微软雅黑';
    display: inline-block;
    width: 100%;
    height: 100%;
    padding-top: 17px;
    text-decoration: none;
    color: #fff;
}

.header-ul>li:hover a {
    border-bottom: 3px solid #33b0ff;
}

.choose > a {
    border-bottom: 3px solid #33b0ff;
}

.header-right {
    position: relative;
    height: 52px;
    text-align: right;
    padding-left: 25px;
    padding-right: 110px;
}

.header-right-usering>a {
    font: 12px/52px '微软雅黑';
    padding-left: 15px;
    color: #fff;
    position: relative;
    text-decoration: none;
}

.header-right-usering >a>img {
    position: absolute;
    top: 2px;
    left: -20px;
}

.header-right-trumpet {
    position: relative;
    margin-right: 20px;
    line-height: 52px;
}

.header-right-trumpet > img {
    width: 18px;
    height: 18px;
}

.header-right-feedback > img {
    width: 18px;
    height: 16px;
}

.header-right-trumpet > i {
    font: 12px/18px 'Microsoft Yahei';
    position: absolute;
    top: -8px;
    right: -15px;
    display: inline-block;
    width: 18px;
    height: 18px;
    text-align: center;
    color: #fff;
    -webkit-border-radius: 18px;
    border-radius: 18px;
    background-color: #a40000;
}

.header-right > a {
    color: #FFF;
    font: 14px "Microsoft Yahei";
    position: absolute;
    right: 60px;
    top: 18px;
    cursor: pointer;
    text-decoration: none;
}

.dropdown {
    display: inline-block;
    position: relative;
    margin-right: 20px;
}

#pull-down {
    min-width: 60px;
}

.resetPassword {
    display: none;
    position: relative;
    z-index: 999;
}

.passwordSuccess {
    display: none;
    margin: 100px auto;
}

.passwordSuccess>span {
    display: block;
    height: 60px;
    width: 60px;
    margin: 0 auto;
}

.passwordSuccess>span>img {
    width: 100%;
    height: 100%
}

.passwordSuccess>p {
    font: 18px "Microsoft Yahei";
    text-align: center;
}

.resetPassword>form {
    position: relative;
}

.resetPassword>form>label {
    display: block;
    margin: 25px auto;
    font: 12px "Microsoft Yahei";
    width: 380px;
    padding-left: 70px;
    position: relative;
}

.resetPassword>form>label>i {
    font-style: normal;
    position: absolute;
    left: 0;
    top: 0;
}

.resetPassword>form>label>input {
    margin-left: 20px;
    outline: none;
    border: 1px solid #12c5a4;
    height: 25px;
    width: 200px;
    padding: 1px 3px;
}

.resetPassword>form>input {
    color: #FFF;
    font: 12px "Microsoft Yahei";
    background-color: #12c5a4;
    border: 0;
    position: absolute;
    left: 50%;
    margin-left: -97px;
    cursor: pointer;
    padding: 5px 20px;
}

.header-right-matter {
    display: none;
}

.header-right-matter>span {
    display: block;
    font: 14px "Microsoft Yahei";
    text-align: center;
}

.header-right-trumpet-title > p {
    font: 12px '微软雅黑';
    position: relative;
    padding-right: 200px;
    padding-left: 30px;
    text-align: left;
    margin-top: 10px;
}

.header-right-trumpet-title > p,
.header-right-trumpet-title > p > a {
    color: #676767;
}

.header-right-trumpet-title {
    cursor: pointer;
}

.header-right-trumpet-title > p > img {
    position: absolute;
    top: 3px;
    left: 9px;
}

.header-right-trumpet-title > p > a {
    position: absolute;
    top: 0;
    right: 10px;
    text-decoration: none;
    color: #b2b2b2;
}

.header-right-trumpet-content {
    display: none;
    min-height: 250px;
    position: relative;
}

.header-right-trumpet-content > h3 {
    font: 600 14px '微软雅黑';
    padding-left: 10px;
    text-align: left;
    color: #676767;
}

.header-right-trumpet-content > p {
    font: 12px/20px '微软雅黑';
    padding-left: 10px;
    text-align: left;
    color: #676767;
}

.header-right-trumpet-content-time {
    display: block;
    margin-left: 10px;
    text-align: left;
    color: #b2b2b2;
}

.header-right-trumpet-content-button {
    width: 90px;
    height: 25px;
    margin: 15px auto;
    color: #fff;
    border: 0;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    outline: none;
    background-color: #8a9ed0;
    position: absolute;
    bottom: -50px;
    left: 50%;
    margin-left: -45px;
}

.header-right-tickling {
    display: none;
    margin-bottom: 8px;
}

.Popup-type {
    font: 12px/30px "Microsoft Yahei";
    margin-left: 20px;
    display: inline-block;
    height: 30px;
}

.Popup-type>label {
    margin-left: 10px;
    font-weight: 500;
}

.Popup-type>label>input {
    vertical-align: sub;
}

.Popup-area {
    display: block;
}

.Popup-area>label {
    vertical-align: top;
    font: 12px "Microsoft Yahei";
    margin-left: 20px;
}

.Popup-area>textarea {
    height: 205px;
    width: 520px;
    resize: none;
    outline: none;
    margin-left: 10px;
    margin-top: 6px;
}

.feedbackSubmit {
    display: block;
    text-align: center;
    margin: 20px auto;
}

.feedbackSubmit>input {
    padding: 5px 15px;
    background-color: #8a9ed0;
    color: #FFF;
    font: 12px "Microsoft Yahei";
    border: 0;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.layui-layer-content {
    background-color: #fffbfb !important;
}

#feedbackSaveError {
    text-align: center;
    font: 14px/30px "Microsoft Yahei";
    margin-top: 100px;
}

.che {
    position: relative;
    width: 100%;
    margin-top: 52px;
}

.che-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 187px;
    height: 100%;
    border-right: 1px solid #e1e1e1;
    background-color: #fafafa;
}

.che-left-ul {
    margin-top: 10px;
    padding-left: 0;
    list-style: none;
}

.che-left-ul > li {
    position: relative;
    height: 35px;
    padding-left: 13px;
    margin-bottom: 5px;
}

.che-left-ul>.left-active>img {
    -webkit-filter: grayscale(0);
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -ms-filter: grayscale(0);
    -o-filter: grayscale(0);
    filter: grayscale(0);
    filter: gray;
}

.che-left-ul > li > img {
    float: left;
    width: 25px;
    height: 25px;
    line-height: 0;
    margin-top: 7px;
    -webkit-filter: grayscale(1);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}

.che-left-ul > li > a {
    font: 14px '微软雅黑';
    line-height: 35px;
    display: inline-block;
    float: left;
    margin-left: 5px;
    text-decoration: none;
    color: #272727;
}

.left-active>a {
    color: #36c !important;
}

.left-normal {
    color: #676767;
}

.che-left-ul>li:hover {
    background-color: #d2e2ff;
}

.che-right {
    padding-left: 172px;
    /*min-height: 768px;*/
}

.che-right-h3 {
    margin-bottom: 13px;
    margin-left: 30px;
}

.che-right-h3 h3 {
    font: 600 16px '微软雅黑';
    color: #272727;
}

.che-right-h3-kind {
    display: inline-block;
    height: 30px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.che-right-h3-kind li {
    line-height: 25px;
    float: left;
    width: 140px;
    height: 30px;
    margin-top: 0;
    text-align: center;
    border: 1px solid #7885a7;
    border-radius: 5px 0 0 5px;
}
 
.che-right-h3-kind li:nth-child(2) {
    margin-left: -1px;
    -webkit-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
}

.che-right-h3-kind li a {
    line-height: 28px;
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #676767;
    font: 14px/28px "Microsoft Yahei";
}

#che-right-h3-kind-liA1 a {
    color: #fff;
}

#che-right-h3-kind-liA1 {
    background-color: #8099c9;
}

.formParam {
    position: relative;
    margin-bottom: 35px;
    margin-left: 30px;
    border: 2px solid #f3f3f3;
    margin-right: 30px;
}
       
.normalSelect > div,
.moreSelect > div {
    position: relative;
    line-height: 0;
    margin-left: 25px;
    border-bottom: 1px solid #f3f3f3;
}

.normalSelect > div > span,
.moreSelect > div > span {
    position: absolute;
    display: inline-block;
    width: 55px;
}

.formParam span > a {
    font: 12px/30px '微软雅黑';
    text-decoration: none;
    color: #999;
}

.formParam ul {
    display: inline-block;
    margin: 0;
    margin-left: 76px;
    padding: 0;
    list-style: none;
}

.formParam ul > li {
    float: left;
    margin-right: 36px;
    position: relative;
}

.formParam ul > li > a {
    font: 12px/30px '微软雅黑';
    text-decoration: none;
    color: #676767;
}

.formParam ul > li > .changeColor {
    color: #36c;
}

.years-icon {
    cursor: pointer;
}

/* .normalSelect>div>ul>li>.years-span>menu {
    list-style: none;
    z-index: 999;
    background-color: #FFF;
    position: absolute;
    right: -25px;
    top: 12px;
    padding: 0;
    border: 1px solid #dcdcdc;
} */

/* .normalSelect>div>ul>li>.years-span>menu>img {
    position: absolute;
    left: 25px;
    top: -7px;
} */

/* .normalSelect>div>ul>li>.years-span>menu>li {
      font: 12px/20px "Microsoft Yahei";
      margin: 3px 10px;
      width: 42px;
      text-align: center;
      cursor: pointer;
      float: left;
  }*/ 
.years-span{  
    position: relative;
}
    
#years-icon-top{
    display:none;
    font-size:12px;
    margin-left:5px;
    width:12px;  
    height:12px;
    position: relative;
}            
.years-span>span{
    position: absolute; 
    top: 20px;
    width: 450px;  
    border: 1px solid #1677d5;
    border-radius: 3px;
    background-color: #FFF;
    z-index: 999; 
    display: none;    
}    
.left {
	left: -20px;
}
.left>img {
	position: absolute;
    left:23px;    
    top: -6px; 
}
.right {
	right: -20px;
	margin-left:187px;
	margin-top: 52px;
}
.right>img {
	position: absolute;
    right: 19px; 
    top: -6px; 
}
.years-span>span>ul{ 
    padding: 0;  
    margin: 0; 
    width: 100%;   
    position: relative;
    border-bottom: 1px solid #82c0f3;
}
.years-span>span>ul:last-child{ 
    border-bottom: 0;
}  
.years-span>span>ul>span{
    position: absolute;
    left: 10px;
    top: 4px;  
    font: 12px "Microsoft Yahei";
}             
.years-span>span>ul>li{
    float: left;
    margin: 0 10px;
    line-height: 26px; 
    cursor: pointer;
}     

.years-span .selected{
	text-decoration: underline;
}

.moreSelect > div:last-child,
.normalSelect > div:last-child {
    border: 0;
}

.custom {
    font: 12px/30px "Microsoft YaHei";
    color: #676767;
    display: none;
}

.custom>input {
    vertical-align: middle;
    height: 20px;
    line-height: 15px;
}

.gross {
    font: 12px/18px "Microstft Yahei";
    color: #999;  
    display: block;
    margin-bottom: 10px;
    margin-left: 56px;
    width: 450px;
}

.gross>i {
    color: #36c;
    font-style: normal;
}

.moreSelect {
    display: none;
}

.che-right-kind-show {
    position: absolute;
    right: 50%;
    bottom: -35px;
    width: 127px;
    height: 35px;
    margin-right: -80px;
    text-align: center;
    border: 2px solid #f3f3f3;
    border-top: 2px solid #fff;
}

.che-right-kind-span,
.che-right-kind-up {
    display: inline-block;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.formParam > .che-right-kind-show > .che-right-kind-span > a,
.formParam > .che-right-kind-show > .che-right-kind-up > a {
    line-height: 28px;
    display: inline-block;
    width: 45%;
    color: #676767;
}

.formParam > .che-right-kind-show > .che-right-kind-span > span,
.formParam > .che-right-kind-show > .che-right-kind-up > span {
    line-height: 28px;
    width: 35%;
}

.che-left>span>h5 {
    padding-left: 30px;
    margin-bottom: 15px;
    font: 14px "Microsoft Yahei";
}

.base-log {
    width: 100%;
    height: 130px;
    background-color: #fff;
    padding-top: 43px;
}

.base-log>p {
    font: 12px "Microsoft YaHei";
    color: #272727;
    text-align: center;
}

.passwordHint {
    text-align: center;
    font: 12px "Microsoft Yahei";
    margin-top: 75px;
}

.passwordHint>img {
    width: 18px;
    margin-right: 10px;
    vertical-align: text-bottom;
}

.feedbackTip,
#feedbackSaveCustomError {
    font: 14px "Microsoft Yahei";
    display: block;
    margin-top: 100px;
    text-align: center;
    margin-bottom: 150px;
}

.layui-layer-iframe .layui-layer-btn,
.layui-layer-page .layui-layer-btn {
    background-color: #fffbfb !important;
}

.bigCarWCloud {
    width: 50%;
    height: 70%;
    margin: auto;
    margin-top: 20px;
    overflow-y: hidden;
}

.smallCarWCloud {
    width: 85%;
    height: 85%;
    margin: auto;
    margin-top: 10px;
    overflow-y: hidden;
}
.section{
	position: relative;
	margin-top:0px;
	padding-top:0;
}
.select-right{
	text-align: right;
    top: -40px;
    position: relative;
    margin-right: -3px;
    font: 12px "Microsoft YaHei";
}
.select-right-big{
	float: right;
    position: relative;
    font: 12px "Microsoft YaHei";
} 

    
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}


.div-hover{
	    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 1px;
	/*
	border: 1px solid #d0caca;
		margin-bottom: 10px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		padding: 0 10px;*/
	
}
