<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="org.smart4j.chapter4"/>

    <!--Around Advice start-->
    <!-- 配置一个代理 -->
    <!--<bean id="greetingProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
        &lt;!&ndash;需要代理的接口&ndash;&gt;
        <property name="interfaces" value="org.smart4j.chapter4.aop.Greeting"/>
        &lt;!&ndash;接口实现类&ndash;&gt;
        <property name="target" ref="greetingImpl"/>
        &lt;!&ndash;拦截器名称（也就是增强类名称，Spring Bean 的 id）&ndash;&gt;
        <property name="interceptorNames">
            <list>
                <value>greetingAroundAdvice</value>
            </list>
        </property>
    </bean>-->
    <!--Around Advice end-->

    <!--Introduction Advice start-->
    <!--<bean id="greetingProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
        &lt;!&ndash;需要动态实现的接口&ndash;&gt;
        <property name="interfaces" value="org.smart4j.chapter4.aop.Apology"/>
        &lt;!&ndash;目标类&ndash;&gt;
        <property name="target" ref="greetingImpl"/>
        &lt;!&ndash;引入增强&ndash;&gt;
        <property name="interceptorNames" value="greetingIntroAdvice"/>
        &lt;!&ndash;代理目标类（默认为false，代理接口）&ndash;&gt;
        <property name="proxyTargetClass" value="true"/>
    </bean>-->
    <!--Introduction Advice end-->

    <!--Advisor start-->
    <!--配置一个切面-->
    <!--<bean id="greetingAdvisor" class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
        &lt;!&ndash;增强&ndash;&gt;
        <property name="advice" ref="greetingAroundAdvice"/>
        &lt;!&ndash;切点（正则表达式）&ndash;&gt;
        <property name="pattern" value="org.smart4j.chapter4.springaop.GreetingImpl.good.*"/>
    </bean>
    <bean id="greetingProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
        &lt;!&ndash;目标类&ndash;&gt;
        <property name="target" ref="greetingImpl"/>
        &lt;!&ndash;切面&ndash;&gt;
        <property name="interceptorNames" value="greetingAdvisor"/>
        &lt;!&ndash;代理目标类&ndash;&gt;
        <property name="proxyTargetClass" value="true"/>
    </bean>-->
    <!--Advisor end-->

    <!--Auto Create Proxy, Around Advice start-->
    <!--<bean class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
        &lt;!&ndash;只为后缀是 "Impl" 的 Bean 生成代理&ndash;&gt;
        <property name="beanNames" value="*Impl"/>
        &lt;!&ndash;增强&ndash;&gt;
        <property name="interceptorNames" value="greetingAroundAdvice"/>
        &lt;!&ndash;是否对代理生成策略进行优化&ndash;&gt;
        <property name="optimize" value="true"/>
    </bean>-->
    <!--Auto Create Proxy, Around Advice end-->

    <!--Auto Create Proxy, Advisor start-->
    <!--配置一个切面-->
    <!--<bean id="greetingAdvisor" class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
        &lt;!&ndash;增强&ndash;&gt;
        <property name="advice" ref="greetingAroundAdvice"/>
        &lt;!&ndash;切点（正则表达式）&ndash;&gt;
        <property name="pattern" value="org.smart4j.chapter4.springaop.GreetingImpl.good.*"/>
    </bean>
    <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator">
        &lt;!&ndash;是否对代理生成策略进行优化&ndash;&gt;
        <property name="optimize" value="true"/>
    </bean>-->
    <!--Auto Create Proxy, Advisor end-->

    <aop:aspectj-autoproxy proxy-target-class="true"/>
</beans>